<h3>Create a new classified ad:</h3>

<%= form_for @classified do |f| %>
  <%= f.hidden_field :category, value: @category %>

  <%= f.label :title %>
  <%= f.text_field :title %>
<br />
  <%= f.label :description %>
  <%= f.text_area :description, cols: 40, rows: 3 %>
<br />
  <%= f.label :price %>
  <%= f.number_field :price, min: 1, max: 999999 %>
<br />
  <%= f.label :rate, "Rate, change later to only show if category is service" %>
  <%= f.check_box :rate %>

  <%= f.label :subcategory %>
  <%= f.text_field :subcategory %>

  <%= f.file_field :image %>

  <%= f.submit %>
<% end %>

<%= link_to "Return to classifieds page", classifieds_path %>
