<h3><%= @classified.title %></h3>

<%= image_tag @classified.image.url(:medium) %>

<p><strong>Description:</strong></p>
<p><%= @classified.description %></p>

<p>Category: <%= @classified.category %> | SubCategory: <%= @classified.subcategory %></p>

<p>Price: $<%= @classified.price %> | Rate?: <%= @classified.rate %>

<p><%= link_to "Edit this classified", edit_classified_path(@classified) %> |
   <%= link_to "Delete this classified", classified_path(@classified), data: {confirm: "Confirm Delete", method: "delete"} %>
</p>

<p>
  <%= link_to "Return to classifieds", classifieds_path %>
</p>
